/******   reset  *******/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --dark: rgba(51, 51, 51, 1);
  --violine: rgb(113, 36, 165);
}

/********************/
/*** GENERALITES  ***/
/********************/
html {
  background: white;
  font-size: 62.5%;
  font-family: "VT323", monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--dark);
  padding: 0 10%;
  cursor: url(/assets/img/Grey_flashLight.png), auto;
}

.torch {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 225px;
  box-shadow: 0 0 0 9999em #000000f7;
  opacity: 1;
  border-radius: 50%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
}

.torch::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  box-shadow: inset 0 0 40px 2px #000, 0 0 20px 4px rgba(13, 13, 10, 0.2);
}

.big_header {
  width: 100%;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-spacing: -50px;
}
span {
  font-family: "VT323", monospace;
  font-size: clamp(16rem, 30vw, 25rem);
  color: white;
  transition: 0.5s ease-out;
  user-select: none;
}
span:nth-child(4) {
  margin-left: 50px;
}

.transformed {
  transform: scale(1.3);
}
.back_link {
  text-decoration: none;
  color: #fff;
  font-size: clamp(2rem, 2vw, 4rem);
  margin-top: 15%;
  transition: 0.3s;
}

.back_link:hover {
  transform: scale(1.1);
  border-bottom: 2px solid var(--violine);
}
